@model Vendors_Web.ViewModels.FilterVendorsViewModel


@{
        ViewData["Title"] = "Index";
    }


<div class="card col-lg-12">
    <div class="row mt-3">
        <div class="col-lg-2">
            <a asp-action="Create" asp-controller="Vendors" id="Cr-Vend-But" class="btn btn-primary">NEW VENDOR</a>
        </div>
    </div>
    <form asp-action="GetFiltrered" asp-controller="Vendors" method="post">
        <div class="row col-lg-12 mt-3">
            <div class="row col-lg-4">
                Show
                <div class="col-lg-4">
                    <select asp-for="ItemsCount" class="form-control">
                        <option value="10" selected>Select</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
                entries
            </div>
            <div class="col-lg-4">
                <div class="col-lg-6 mx-auto">
                    <input type="text" class="form-control" placeholder="Search..." />
                </div>
            </div>
        </div>
        <hr />
        <div class="row mt-3">
            <div class="col-lg">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="col-lg">
                <label asp-for="TypeId"></label>
                <select asp-for="TypeId" class="form-control">
                    <option value="0" selected>Select</option>
                    @foreach (var vendorType in ViewBag.VendorTypes)
                    {
                        <option value="vendorType.Id">@vendorType.Name</option>
                    }
                </select>
            </div>
            <div class="col-lg">
                <label asp-for="CityId"></label>
                <select asp-for="CityId" class="form-control">
                    <option value="0" selected>Select</option>
                    @foreach (var city in ViewBag.Cities)
                    {
                        <option value="city.Id">@city.Name</option>
                    }
                </select>
            </div>
            <div class="col-lg">

            </div>
            <div class="col-lg">

            </div>
        </div>
        <div class="row mt-3">
            <a asp-action="GetFilteredTable" asp-controller="Vendors" class="btn btn-outline-primary mx-auto">Search</a>
        </div>
    </form>

</div>

@*@Html.Partial("_List")*@
<partial name="_List.cshtml" />

<div id="dialogDiv" class="modal fade" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-lg">
    </div>
</div>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @*<script src="~/js/table.js"></script>*@
    <script src="~/js/modal.js"></script>
    <script type="text/javascript">
        var urlObj = new Object();
        urlObj.GetCitiesUrl = "@Url.Action("GetCities","Vendors")";
        urlObj.CreateUrl = "@Url.Action("Create","Vendors")";
        urlObj.TableAjax = "@Url.Action("AjaxHandler","Vendors")";
        console.log(urlObj.GetCitiesUrl);
    </script>
    <script src="~/js/modal_operations.js"></script>
}